:root {
    --Note1: rgb(254, 236, 251);
    --Note2: rgb(241, 255, 244);
    --Note3: rgb(203, 192, 255);
    --test: rgb(94, 94, 94);
    --test2: rgb(113, 112, 112);
    --line: rgb(197, 185, 255);
    --line2: rgb(208, 255, 185);
}

.defaultNote {
    display: flex;
   flex-direction: column;
   width: 980px;
  }
  
.defaultHeading {
    width: 100px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px 5px 1px 1px;
    color: rgb(0, 0, 0);
  }

.defaultTab {
    width: 980px;
  
  }

.note1 {
    height: 130px;
    z-index: 12;
    margin-top: -80px;
    margin-bottom: -10px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
   
  } 
  
 
  
  
  
.heading1 {
    border-top: 2px solid var(--line);
    border-left: 2px solid var(--line);
    border-right: 2px solid var(--line);
    margin-left: 0px;
    height: 20px;
    background-color: var(--test);
    
    z-index: 13;
    position: absolute;
    top: -23px;
  
  }
  
  
.tab1 {
    height: 100px;
    z-index: 11;
    background-color: var(--test);
    /* background: linear-gradient(180deg, rgb(254, 242, 255) 0%, rgb(255, 255, 255) 43%); */
    border: 2px solid var(--line);
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.the-text {
    outline: none;
    border: none;
    resize: none;
    background-color: transparent;
    height: 80px;
    width: 900px;
    margin-top: 10px;
}

 .defaultNote.moving{
    width: 980px;
    height: 500px;
    animation: slide ease-in;
}

.defaultTab.moving{
    width: 980px;
    height: 500px;
    animation: slide ease-in;
     /* test */
     display: flex;
     align-items: flex-start;
}


/* tab folder 2 styles */

.note2{
  height: 150px;
  z-index: auto;
  position: relative;
}

.heading2 {
   
    background-color: var(--test2);
    margin-left: 250px;
    z-index: 11;
    border-top: 2px solid var(--line2);
    border-left: 2px solid var(--line2);
    border-right: 2px solid var(--line2);
    position: absolute;
    top: -23px;
    
    }

.tab2 {
       height: 90px;
       z-index: 10;
       background-color: var(--test2);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--line2);
    }

 /* tab folder 3 styles */
     .note3{
   
        height: 150px;
        /* z-index: 9; */
        margin-top: -80px;
        margin-bottom: -80px;
        margin-left: 0px;
        margin-right: 0px;
        position: relative;
    
    } 

    .heading3{
        background-color: var(--test);
        border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
        margin-left: 550px;
        z-index: 9;
        position: absolute;
        top: -23px;
    } 

    .tab3 {
        height: 90px;
        z-index: 8;
        background-color: var(--test);
       
        border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    } 


    .paper {
        margin-top: 20px;
        width: 900px;
        height: 70px;
        background-color: white;
        border-radius: 10px;
     
    }

    .paper.moving {
        height: 400px;
        
    }